#NavContract{
	max-width: 104px;
	height: 100vh;
 	margin: 0 0 0 0;
 	padding: 1.65em 0px 1.65em 0px;
 	float: left;
}
#LogoContract{
	width: 40px;
 	height: 40px;
 	margin: 23px 0 33px 0px;
 	object-fit: contain;
}
#Expandir{
	width: 21px;
	height: 21px;
	margin: calc(100vh * 0.625) 0 10px 0;
	object-fit: contain;
}
#Expandir button{
	width: 100%;
	height: 100%;
}
.con-exp:hover g{
	box-shadow: 2px 2px 5px #b3b3b3;
	stroke: #b3b3b3;
}
.con-exp:active g{
	box-shadow: 2px 2px 5px #b3b3b3;
	stroke: #b3b3b3;
}
.reset-this {
    all: initial;
    * {
        all: unset;
    }
}
.div-nav{
	height: 2em;
}