.nav-col-exp{
	margin: 0 !important;
	padding: 0 !important;
}
.link-react-nav, .link-react-nav:link, .link-react-nav:active{
	color: inherit;
	background-color: inherit;
}
.link-react-nav:link{
	text-decoration: none;
}
.link-react-nav:active, .link-react-nav:hover{
	color: var(--gig-color);
}
.link-react-nav:hover{
	background-color: #181818;
	border-radius: 16px;
	border: 0.5px solid var(--gig-color);
}
#NavExpand-container{
	max-width: 240px;
	height: 100vh;
 	margin: 0 0 0 0;
 	font-family: Roboto;
 	padding: 2em 0px 2em 0px;
 	float: left;
 	background-color: inherit;
}
#LogoExpand, #Inicio, #Descubrir, #Catalogo, #Ajustes, #Contraer{
	object-fit: contain;
	margin: 0px 10px 0px 10px;
	color: var(--color-default);
}
#LogoExpand{
	width: 56px;
 	height: 40px;
 	margin: calc(100vh * 0.03) 0px calc(100vh * 0.03) 0px;/* 28px*/
}
#Inicio{
	width: 24px;
	height: 24px;
}
#Descubrir{
	width: 16px;
	height: 16px;
}
#Catalogo{
	width: 20px;
	height: 20px;
}
#Ajustes{
	width: 18px;
	height: 18px;
}
#facebook, #youtube, #instagram{
	margin-top: calc(100vh * 0.4);
}
#facebook{
	width: 19.5px;
	height: 19px;
}
#youtube{
	width: 27px;
	height: 19px;
}
#instagram{
	width: 20px;
	height: 19px;
}
#Contraer{
	width: 21px;
	height: 21px;
	margin: calc(100vh * 0.2) 0px 10px calc(100vw * 0.09);
}
#Contraer button{
	width: 100%;
	height: 100%;
	background: none;
}
#instagram:hover path{
	fill: var(--instagram);
}
#facebook:hover path{
	fill: var(--facebook);
}
#youtube:hover path{
	fill: var(--youtube);
}
.link-react-nav:hover div #Descubrir g{
	fill: var(--gig-color);
}
.link-react-nav:hover div #Descubrir g, 
.link-react-nav:hover div #Ajustes g:nth-of-type(1){
	stroke: var(--gig-color);
}
.link-react-nav:hover div #Inicio path:nth-of-type(2), 
.link-react-nav:hover div #Catalogo path:nth-of-type(1){
	fill: var(--gig-color);
}