.header-discography{
    font-weight: bold;
    cursor: pointer;
}
.content-discography{
    background-color: inherit;
}
.table-discography{
    background-color: inherit;
}
.play-an{
    height: 30px;
    width: 30px;
    fill: var(--color-default);
}