.chord{
	color: #f24405;
}
.chord button{
    color: #a9a9a9 !important;
    display: none;
    background: none;
    border: none;
    box-shadow: 0;
}
.chord svg line{
    stroke: #a9a9a9 !important;
    fill: #a9a9a9 !important;
}
.chord svg circle{
    fill: currentColor !important;/*f24405*/
    stroke: #a9a9a9 !important;
}
.chord svg text{
    fill: currentColor !important;/*f24405*/
    stroke: currentcolor !important;/*f24405*/
}
#Acordes-Container{
    color: inherit;
    background: inherit;
}