.chord{
	color: var(--gig-color);
}
.chord button{
    color: var(--color-default) !important;
    display: none;
    background: none;
    border: none;
    box-shadow: 0;
}
.chord svg line{
    stroke: var(--color-default) !important;
    fill: var(--color-default) !important;
}
.chord svg circle{
    fill: currentColor !important;/*f24405*/
    stroke: var(--color-default) !important;
}
.chord svg text{
    fill: currentColor !important;/*f24405*/
    stroke: currentcolor !important;/*f24405*/
}
#Acordes-Container{
    color: inherit;
    background: inherit;
}