.audio-controls{
  display: flex;
  justify-content: space-between;
  width:  50%;
  margin: 0 auto 15px;
}
.audio-controls path{
  fill: #f24405;
}
.prev svg, .next svg{
  width: 30px;
  height: 30px;
  margin: auto;
}
.play svg, .pause svg{
  height: 40px;
  width: 40px;
  margin: 0 5% 0 5%; 
}