pre{
    font-size: inherit !important;
    color: inherit !important;
    white-space: pre-wrap;
}
#Letra, #Acordes{
    color: inherit;
    background-color: inherit;
}
#Letra{
    text-shadow: 1px;
    margin-bottom: 5mm;
}
#Acordes{
    font-size: 1rem;
    color: #f24405;
}
#Contenedor-Acordes{
    scrollbar-height: 10px;
}
#Contenedor-Acordes::-webkit-scrollbar {
    height: 10px;
}
#Contenedor-Acordes::-webkit-scrollbar-track {
    background: #181818; 
    border: 2.5px solid #121212;
}
#Contenedor-Acordes::-webkit-scrollbar-thumb {
    background: #121212; 
}
