pre{
    font-size: inherit !important;
    color: inherit !important;
    white-space: pre-wrap;
}
#Letra, #Acordes{
    color: inherit;
    background-color: inherit;
}
#Letra{
    text-shadow: 1px;
    margin-bottom: 5mm;
}
#Acordes{
    font-size: 1rem;
    color: var(--gig-color);
}
#Contenedor-Acordes{
    scrollbar-height: 10px;
}
#Contenedor-Acordes::-webkit-scrollbar {
    height: 10px;
}
#Contenedor-Acordes::-webkit-scrollbar-track {
    background: var(--background-app); 
    border: 2.5px solid var(--background-nav);
}
#Contenedor-Acordes::-webkit-scrollbar-thumb {
    background: var(--background-nav); 
}
