select{
	color : inherit !important;
    background-color : inherit !important;
}
select option{
	color : inherit !important;
    background: black !important;
}
#Portal-container{
    color : inherit;
    background-color : black;
    position : absolute;
    z-index: 2;
}