select{
	color : inherit !important;
    background-color : inherit !important;
}
select option{
	color : inherit !important;
    background: var(--selector) !important;
}
#Portal-container{
    color : inherit;
    background-color : var(--selector);
    position : absolute;
    z-index: 2;
}