.rep-btn{
  background: none;
  border: none;
  cursor: pointer;
}
.audio-player{
  max-width: 100%;
  padding: 24px;
  margin: auto;
  color: inherit;
  background: #282828;
}
.track-info{
  text-align: center;
  z-index: 1;
  position: relative;
}
.title{
  font-weight: 700;
  margin-bottom: 4px;
}
.artist{
  font-weight: 300;
}
.vol{
  width: 20px;
  height: 20px;
}
.vol path{
  fill: #b3b3b3;
}
.range-input {
  height: 5px !important;
  width: 100% !important;
  border-radius: 8px !important;
  background: #f24405;
  transition: background 0.2s ease;
  cursor: pointer !important;
}
.range-input, .range-input::-webkit-slider-runnable-track, 
.range-input::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  color: #ffffff !important;
}
.range-input::-webkit-slider-thumb{
  width: 10px !important;
  border-radius: 100% !important;
  height: 10px !important;
  background: #ffffff !important;
}
#Reproductor-musica {
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.4s ease;
}