.accent{
	background: #121212;
	opacity: 0.5;
}
.artist-photo{
	height: 8rem !important;
	border-radius: 100px;
}
.artist-description, .btn-artist-sound{
	color: #ffffff;
}
.btn-artist-sound, .btn-artist-follow{
	cursor: pointer;
	display: inline-block;
	border-radius: 16px !important;
}
.btn-artist-sound{
	color: inherit !important;
	background: #f24405 !important;
}
.btn-artist-follow{
	color: #f24405 !important;
	background: #121212 !important;
	border: 1px solid #ffffff !important;
}
.navbar {
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(24,24,24,1) 100%) !important;
	margin-bottom: 0;
}
.nav-link{
	color: #b3b3b3;
}
.activado {
	color: #ffffff;
	border-bottom: 1px solid #f24405 !important;
}
.nav-link, .nav-link:hover, .nav-link:focus{
	background: none;
	border: none;
	box-shadow: 0;
}
.btn:focus{
	box-shadow:	0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.nav-link:hover, .nav-link:focus {
	color: #ffffff;
}
#Artist-container{
	background-color: inherit;
	color: inherit;
	overflow-x: hidden;
	scrollbar-width: none;
	overflow-y: scroll !important;
	max-height: 92vh !important;
}
#Artist-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}