.accent{
	filter: brightness(0.5);
}
.artist-photo{
	height: 8rem !important;
	border-radius: 100px;
}
.artist-description, .btn-artist-sound{
	color: var(--color-accent);
}
.btn-artist-sound, .btn-artist-follow{
	cursor: pointer;
	display: inline-block;
	border-radius: 16px !important;
}
.btn-artist-sound{
	color: inherit !important;
	background: var(--gig-color) !important;
}
.btn-artist-follow{
	color: var(--gig-color) !important;
	background: var(--background-app) !important;
	border: 1px solid var(--color-accent) !important;
}
.navbar {
	background: var(--color-accent);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(24,24,24,1) 100%) !important;
	margin-bottom: 0;
}
.nav-link{
	color: var(--color-default);
}
.activado {
	color: var(--color-accent);
	border-bottom: 1px solid var(--gig-color) !important;
}
.nav-link, .nav-link:hover, .nav-link:focus{
	background: none;
	border: none;
	box-shadow: 0;
}
.btn:focus{
	box-shadow:	0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.nav-link:hover, .nav-link:focus {
	color: var(--color-accent);
}
#Artist-container{
	background-color: inherit;
	color: inherit;
	overflow-x: hidden;
	scrollbar-width: none;
	overflow-y: scroll !important;
	max-height: 92vh !important;
}
#Artist-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}