#Search-container{
	margin: 0 0 0 0px;
	padding: 15px 0 10px 25px;
	background-color: inherit;
	color: inherit;
	border-bottom: solid 1px var(--color-default);
	z-index: 1;
}
#icon-search{
	width: 20px;
	height: 20px;
	padding: 0 0 0 0;
	object-fit: contain;
}
#search-button{
	display: none;
}
#search-bar::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
#icon-search, #search-bar, #search-bar:focus, #search-bar:active{
	background-color: inherit;
	color: inherit;
	border: none;
	box-shadow: 0 0 0 0;
}
#search-bar:-webkit-autofill,
#search-bar:-webkit-autofill:hover, 
#search-bar:-webkit-autofill:focus
{
	-webkit-text-fill-color: var(--color-default);
	transition: background-color 5000s ease-in-out 0s;
	caret-color: var(--color-default);
}