#Search-container{
	margin: 0 0 0 0px;
	padding: 15px 0 10px 25px;
	background-color: transparent;
	color: #b3b3b3;
	border-bottom: solid 1px #b3b3b3;
	z-index: 1;
}
#icon-search{
	width: 20px;
	height: 20px;
	padding: 0 0 0 0;
	background-color: transparent;
	border: none;
	object-fit: contain;
}
#search-button{
	display: none;
}
#search-bar{
	background-color: transparent;
	color: currentColor !important;
	border: none;
	box-shadow: 0 0 0 0;
}
#searc-bar: focus{
	background-color: transparent;
	color: currentColor !important;
	border: none;
	box-shadow: 0 0 0 0;
}
#searc-bar: active{
	background-color: transparent;
	color: currentColor !important;
	border: none;
	box-shadow: 0 0 0 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
{
	-webkit-text-fill-color: #b3b3b3 !important;
	transition: background-color 5000s ease-in-out 0s;
	caret-color: #b3b3b3 !important;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
/*
	background-image: url('/home/gig-01/Documents/gigmusic/src/Static/Icons/search-icon.svg');
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding-left: 40px;
	background-size: 20px 20px;
*/