.card{
	background: var(--inicio-color) !important;
	color: inherit;
}
.ultimo{
	column-count: 2 !important;
}
.populares{
	column-count: 4 !important;
}
.populares .card, .populares .card img{
	border-radius: 15px;
}
#Inicio-container{
    color: inherit;
    background: inherit;
    scrollbar-width: none;
    overflow-x: hidden;
	overflow-y: scroll !important;
	max-height: calc(100vh*0.92) !important;
}
#Inicio-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}