#NavContract{
	max-width: 103px;
	height: 100vh;
 	margin: 0 1px 0 0;
 	padding: 23px 0px 23.1px 31px;
 	box-shadow: -5px -5px 12px 0 #181818;
 	background-color: #121212;
}
#LogoContract{
	width: 40px;
 	height: 40px;
 	margin: 23px 0 33px 10px;
 	object-fit: contain;
}
#Inicio{
	width: 24px;
	height: 24px;
	margin: 7px 42px 7px 11px;
	fill: #b3b3b3;
	object-fit: contain;
}
#Descubrir{
	width: 16px;
	height: 16px;
	margin: 7px 45px 7px 11px;
	object-fit: contain;
}
#Catalogo{
	width: 20px;
	height: 20px;
	margin: 7px 42px 7px 11px;
	object-fit: contain;
}
#Ajustes{
	width: 18px;
	height: 18px;
	margin: 7px 44px 7px 11px;
	object-fit: contain;
}
#Expandir{
	width: 21px;
	height: 21px;
	margin: 557px 44px 23.1px 11px;
	object-fit: contain;
}
#btn-exp{
	width: 21px;
	height: 21px;
}
.gig-sel-nav{
	width: 104px;
	height: 38px;
	margin: 0 0 0.8px;
	padding: 7px 42px 7px 38px;
	opacity: 0.5;
	border-radius: 16px;
	background-color: #181818;
}
.link-react{
	color: currentColor;
}
.link-react:link{
	color: #f24405;
	text-decoration: none;
}
.link-react:hover{
	color: #f24405;
}
.link-react:active{
	color: #f24405;
}
.reset-this {
    all: initial;
    * {
        all: unset;
    }
}
