#Acordes{
    color: #b3b3b3;
    background-color: transparent;
}
#AcordeBt{
    color: rgb(14, 61, 131);
    background-color: transparent;
    font-family: Verdana;
    border: none;
    padding: 0;
    outline: none;
    margin: 0;
    cursor: default;
    padding-top: 10px;
    text-align: center;
}
#AcordeBt:focus{
    outline: none;
    background: transparent;
    background-color: whitegray;
}
#AcordeBt:Hover{
    background-color: rgb(226, 154, 46);
}
#Letra{
    font-family: Verdana;
    color: #b3b3b3;
    background-color: transparent;
    text-shadow: 1px;
    margin-bottom: 5mm;
}
.row{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.col{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
