#Acordes{
	font-size: 1rem;
    color: #f24405;
    background-color: transparent;
}
#Letra{
    color: inherit;
    background-color: transparent;
    text-shadow: 1px;
    margin-bottom: 5mm;
}
#Contenedor-Acordes{
    overflow-x: hidden;
}
pre{
	color: inherit !important;
}
