html {
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.4s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
.audio-player {
  max-width: 100%;
  border-radius: 20px;
  padding: 24px;
  margin: auto;
  color: #b3b3b3;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}

.artist {
  font-weight: 300;
  margin-top: 0;
}
input[type='range'] {
  height: 5px;
  -webkit-appearance: none;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #f24405;
  transition: background 0.2s ease;
  cursor: pointer;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #ffffff;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  border-radius: 100%;
  height: 10px;
  background: #ffffff;
}
.vol{
  width: 20px;
  height: 20px;
}
.vol path{
  fill: #b3b3b3;
}