#Resultados-container{
	color: #b3b3b3;
    background-color: #181818;
}
.link-react{
	color: currentColor;
	background-color: transparent;
}
.link-react:link{
	color: #f24405;
	text-decoration: none;
}
.link-react:hover{
	color: #f24405;
}
.link-react:active{
	color: #f24405;
}
.list-search{
	width: 100%;
	display: block;
	background-color: transparent;
	color: currentColor;
}