#Song-Container, #Chord-Container, #Intro-title{
    background-color: inherit;
    color: inherit;
}
#Song-Container{
    font-size: 1rem;
    max-width: calc(100%-200px);
}
#Chord-Container{
    scrollbar-width: none;
    overflow-y: scroll !important;
    max-height: calc(100vh*0.72) !important;/*800px 72vh*/
}
#Cancion-Container{
    scrollbar-width: none;
    overflow-y: scroll !important;
    max-height: calc(100vh*0.72) !important;/*800px 72vh*/
}
#Intro-title{
    font-size: 1.5rem;
    color: #4ed0e5;
    border: solid 1px #4ed0e5;
    border-radius: 100px;
    text-align: center;
}
#Reproductor-Container{
    padding: 0;
    float: bottom;
}
#Chord-Container::-webkit-scrollbar, #Cancion-Container::-webkit-scrollbar {
    width: 0;
    height: 0;
}