#Song-Container{
	background-color: transparent;
	color: #b3b3b3;
}
#Chord-Container{
	color: #4ed0e5;
}
#Cancion-Container{
	overflow-y: scroll;
	max-height: 80vh;/*800px*/
}
#Cancion-Container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#Intro-title{
    font-family: Verdana;
    color: #4ed0e5;
    background-color: transparent;
    border: solid 1px #4ed0e5;
    border-radius: 100px;
    text-align: center;
}