#Song-Container{
    font-size: 1rem;
	background-color: transparent;
	color: #b3b3b3;
}
#Chord-Container{
	color: #b3b3b3;
    scrollbar-width: none;
    overflow-y: scroll !important;
    max-height: calc(100vh*0.72) !important;/*800px 72vh*/
}
#Chord-Container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#Cancion-Container{
    scrollbar-width: none;
	overflow-y: scroll !important;
	max-height: calc(100vh*0.72) !important;/*800px 72vh*/
}
#Cancion-Container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#Intro-title{
    font-size: 1.5rem;
    color: #4ed0e5;
    background-color: transparent;
    border: solid 1px #4ed0e5;
    border-radius: 100px;
    text-align: center;
}
#Reproductor-Container{
    padding: 0;
    float: bottom;
}