.control-dots{
	max-width: 10% !important;
	margin: 0 !important;
	position: absolute !important;
	top: 50% !important;
	right: 0% !important;
}
.legend {
	background: transparent !important;
	width: 100% !important;
	color: inherit !important;
	position: absolute !important;
	top: 50% !important;
	margin-left: -45% !important;
	text-align: start !important;
	text-decoration: inherit !important;
	font-size: inherit !important;
}
.header-carousel{
	background-color: inherit;
}
.body-carousel{
	background-color: inherit;
}
.btn-carousel{
	-webkit-appearance: inherit !important;
	appearance: inherit !important;
	color: inherit !important;
	cursor: pointer !important;
	display: inline-block !important;
	border-radius: 16px !important;
	background: #f24405 !important;
}
.p-dots:hover {
	border: 1px solid #f24405 !important;
	border-radius: 100% !important;
}
#Banner-Container{
	color: inherit;
    background: inherit;
}